<!--<hero-search></hero-search>-->

<!--<h2>My Heroes</h2>-->

<div>
  <label>Hero name:</label> <input #heroName />
  <button (click)="add(heroName.value); heroName.value=''" class="btn btn-primary btn-sm">
    Add
  </button>
</div>

<!--<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)"
      [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span>
    <span>{{hero.name}}</span>
    <button class="delete"
      (click)="delete(hero); $event.stopPropagation()">x</button>
  </li>

</ul>-->

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <th>#</th>
      <th>ID</th>
      <th>Name</th>
      <th></th>
    </thead>

    <tbody>
      <tr *ngFor="let hero of heroes; let i = index">
        <td>{{i+1}}</td>
        <td>{{hero.id}}</td>
        <td>{{hero.name}}</td>
        <td>
            <button class="btn btn-primary btn-sm" (click)="gotoDetail(hero)">
              <span class="glyphicon glyphicon-edit"></span>
            </button>
            <button class="btn btn-danger btn-sm" (click)="delete(hero); $event.stopPropagation()">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>-->