<!--<div id="search-component">
  <h4>Library Search</h4>
  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
  <div>
    <div *ngFor="let library of libraries | async"
         (click)="gotoDetail(library)" class="search-result" >
      {{library.libadmin}}
    </div>
  </div>
</div>-->

<form #formSearch class="navbar-form navbar-right">
    <input #searchBox type="text" class="form-control" placeholder="Search..." (keyup)="search(searchBox.value)">
    <div class="list-group" *ngIf="resultShow">
      <button type="button" class="list-group-item" *ngFor="let library of libraries | async"
            (click)=" formSearch.reset(); gotoDetail(library); ">
        {{library.libAdmin}}
        </button>
    </div>
</form>

