<!--<div id="search-component">
  <h4>User Search</h4>
  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
  <div>
    <div *ngFor="let user of users | async"
         (click)="gotoDetail(user)" class="search-result" >
      {{user.username}}
    </div>
  </div>
</div>-->
<form #formSearch class="navbar-form navbar-right">
    <input #searchBox type="text" class="form-control" placeholder="Search..." (keyup)="search(searchBox.value)">
    <div class="list-group" *ngIf="resultShow">
      <button type="button" class="list-group-item" *ngFor="let user of users | async"
            (click)=" formSearch.reset(); gotoDetail(user); ">
        {{user.userName}}
        </button>
    </div>
</form>

