<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#">Virtual Library</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>


            <span [ngSwitch]="getURL()">
                <hero-search *ngSwitchCase="'heroes'"></hero-search>
                <user-search *ngSwitchCase="'users'"></user-search>
                <book-search *ngSwitchCase="'books'"></book-search>
                <library-search *ngSwitchCase="'libraries'"></library-search>
            </span>
            

        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li routerLinkActive="active"><a routerLink="/heroes">Heroes</a></li>
                <li routerLinkActive="active"><a routerLink="/users">Users</a></li>
                <li routerLinkActive="active"><a routerLink="/books">Books</a></li>
                <li routerLinkActive="active"><a routerLink="/libraries">Libraries</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header">{{title}}</h2>
            <div class="table-responsive">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>